package in.novopay.services.activities;

import android.content.Intent;
import android.os.Bundle;
import android.os.SystemClock;
import android.support.v7.widget.Toolbar;
import android.view.MenuItem;
import android.widget.TextView;

import butterknife.BindView;
import butterknife.ButterKnife;
import butterknife.OnClick;
import in.novopay.services.R;
import in.novopay.services.base.NovopayBaseActivity;
import in.novopay.services.presenters.Create${entity.upperCamelCaseClassName}Presenter;
import in.novopay.services.utils.AppConstant;
import in.novopay.services.utils.GUIUtils;
import in.novopay.services.views.Create${entity.upperCamelCaseClassName}View;

/**
 * Created by ${entity.author} on ${entity.date}.
 */

public class Create${entity.upperCamelCaseClassName}Activity extends NovopayBaseActivity implements Create${entity.upperCamelCaseClassName}View {
    @BindView(R.id.toolbar)
    Toolbar toolbar;

    @BindView(R.id.activity_title)
    TextView activityTitle;

    @BindView(R.id.action_button)
    TextView actionButton;

    private String title;
    private String activityType;
    private Create${entity.upperCamelCaseClassName}Presenter presenter;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_create_${entity.lowerSnakeCaseClassName});
        getAppComponent().inject(this);
        ButterKnife.bind(this);
        setSupportActionBar(toolbar);
        getSupportActionBar().setDisplayHomeAsUpEnabled(true);

        presenter = new Create${entity.upperCamelCaseClassName}Presenter(service, this);

        getIntentExtras();
        setTitle(title);
        initView();
    }

    public void getIntentExtras() {
        title = getIntent().getStringExtra(AppConstant.INTENT_EXTRA_TITLE);
        activityType = getIntent().getStringExtra(AppConstant.INTENT_EXTRA_CREATE_OR_EDIT);
    }

    private void setTitle(String title) {
        if(AppConstant.INTENT_EXTRA_EDIT.equals(activityType)) {
            activityTitle.setText("Edit - " + title);
        } else {
            activityTitle.setText("Create - " + title);
        }
    }

    private void initView() {
    	if(AppConstant.INTENT_EXTRA_EDIT.equals(activityType)) {
    		actionButton.setText("View Screen");
    	} else {
    		actionButton.setText("List Screen");
    	}
        
    }

    @OnClick(R.id.action_button)
    protected void actionButtonOnClick() {
        if (SystemClock.elapsedRealtime() - mLastClickTime < 3000) {
            mLastClickTime = SystemClock.elapsedRealtime();
        } else {
            mLastClickTime = SystemClock.elapsedRealtime();
            finish();
            GUIUtils.overridePendingTransitionForExit(this);
        }
    }

    @Override
    public boolean onOptionsItemSelected(MenuItem item) {
        switch (item.getItemId()) {
            case android.R.id.home:
                onBackPressed();
                return true;
        }
        return super.onOptionsItemSelected(item);
    }

    @Override
    public void onBackPressed() {
        finish();
        GUIUtils.overridePendingTransitionForExit(this);
    }
}