<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <include layout="@layout/template_appbar" />

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="vertical"
        android:layout_marginLeft="@dimen/activity_margin"
        android:layout_marginRight="@dimen/activity_margin"
        android:layout_marginBottom="@dimen/activity_margin"
        android:layout_above="@+id/action_button"
        android:layout_below="@+id/appbar">
	
	#foreach ($field in $entity.fieldList)
	#if( ${field.lowerCamelCaseName} != "createdOn" && ${field.lowerCamelCaseName} != "createdBy" && ${field.lowerCamelCaseName} != "updatedOn" && ${field.lowerCamelCaseName} != "updatedBy")
	<in.novopay.uicontrollibrary.components.EditText
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="@dimen/activity_margin"
        android:id="@+id/activity_create_${entity.lowerSnakeCaseClassName}_${field.name}"
        android:hint="${field.displayName}"/>
	#end
	#end

    </LinearLayout>

    <include layout="@layout/template_action_button"/>
</RelativeLayout>