package in.novopay.network.responses;

import java.io.Serializable;

/**
 * Created by ${entity.author} on ${entity.date}.
 */

public class Get${entity.upperCamelCaseClassName}DetailsResponse extends GenericResponse implements Serializable{
	private String id;
#foreach ($field in $entity.fieldList)
#if( ${field.lowerCamelCaseName} != "createdOn" && ${field.lowerCamelCaseName} != "createdBy" && ${field.lowerCamelCaseName} != "updatedOn" && ${field.lowerCamelCaseName} != "updatedBy")
	private ${field.javaType} ${field.lowerCamelCaseName};
#end	
#end

	public String getId() {
		return id;
	}

	public void setId(String id) {
    	this.id = id;
    }
    
#foreach ($field in $entity.fieldList)
#if( ${field.lowerCamelCaseName} != "createdOn" && ${field.lowerCamelCaseName} != "createdBy" && ${field.lowerCamelCaseName} != "updatedOn" && ${field.lowerCamelCaseName} != "updatedBy")
	public ${field.javaType} get${field.upperCamelCaseName}(){
		return ${field.lowerCamelCaseName};
	}
	
	public void set${field.upperCamelCaseName}(${field.javaType} ${field.lowerCamelCaseName}){
		this.${field.lowerCamelCaseName} = ${field.lowerCamelCaseName};
	}
	
#end
#end
}