package in.novopay.network.responses;

import java.io.Serializable;
import java.util.ArrayList;

/**
 * Created by ${entity.author} on ${entity.date}.
 */

public class Get${entity.upperCamelCaseClassName}ListResponse extends GenericResponse implements Serializable{
	private ArrayList<${entity.upperCamelCaseClassName}List> ${entity.lowerCamelCaseClassName}List;
	private String pageSize;
    private String offset;
    private String numberOfRecords;

    public ArrayList<${entity.upperCamelCaseClassName}List> get${entity.upperCamelCaseClassName}List() {
        return ${entity.lowerCamelCaseClassName}List;
    }

    public void set${entity.upperCamelCaseClassName}List(ArrayList<${entity.upperCamelCaseClassName}List> ${entity.lowerCamelCaseClassName}List) {
        this.${entity.lowerCamelCaseClassName}List = ${entity.lowerCamelCaseClassName}List;
    }
    
     public String getPageSize() {
        return pageSize;
    }

    public void setPageSize(String pageSize) {
        this.pageSize = pageSize;
    }

    public String getOffset() {
        return offset;
    }

    public void setOffset(String offset) {
        this.offset = offset;
    }

    public String getNumberOfRecords() {
        return numberOfRecords;
    }

    public void setNumberOfRecords(String numberOfRecords) {
        this.numberOfRecords = numberOfRecords;
    }
    
    public class ${entity.upperCamelCaseClassName}List{
        private ${entity.upperCamelCaseClassName}Details ${entity.lowerCamelCaseClassName}Details;

        public ${entity.upperCamelCaseClassName}Details get${entity.upperCamelCaseClassName}Details() {
            return ${entity.lowerCamelCaseClassName}Details;
        }

        public void set${entity.upperCamelCaseClassName}Details(${entity.upperCamelCaseClassName}Details ${entity.lowerCamelCaseClassName}Details) {
            this.${entity.lowerCamelCaseClassName}Details = ${entity.lowerCamelCaseClassName}Details;
        }
    }
    
	public class ${entity.upperCamelCaseClassName}Details{ 
		private String id;
	#foreach ($field in $entity.fieldList)
	#if( ${field.lowerCamelCaseName} != "createdOn" && ${field.lowerCamelCaseName} != "createdBy" && ${field.lowerCamelCaseName} != "updatedOn" && ${field.lowerCamelCaseName} != "updatedBy")
		private ${field.javaType} ${field.lowerCamelCaseName};
	#end	
	#end
	
		public String getId() {
			return id;
		}
	
		public void setId(String id) {
	    	this.id = id;
	    }
	    
	#foreach ($field in $entity.fieldList)
	#if( ${field.lowerCamelCaseName} != "createdOn" && ${field.lowerCamelCaseName} != "createdBy" && ${field.lowerCamelCaseName} != "updatedOn" && ${field.lowerCamelCaseName} != "updatedBy")
		public ${field.javaType} get${field.upperCamelCaseName}(){
			return ${field.lowerCamelCaseName};
		}
		
		public void set${field.upperCamelCaseName}(${field.javaType} ${field.lowerCamelCaseName}){
			this.${field.lowerCamelCaseName} = ${field.lowerCamelCaseName};
		}
		
	#end
	#end
	}
}