package in.novopay.services.views;

import in.novopay.network.responses.Get${entity.upperCamelCaseClassName}ListResponse;
import in.novopay.services.base.IBaseView;

/**
 * Created by ${entity.author} on ${entity.date}.
 */

public interface List${entity.upperCamelCaseClassName}View extends IBaseView {
	void onSuccessResponse(Get${entity.upperCamelCaseClassName}ListResponse response);
    void OnFailureResponse();
}