package in.novopay.services.views;

import in.novopay.network.responses.Delete${entity.upperCamelCaseClassName}Response;
import in.novopay.network.responses.Get${entity.upperCamelCaseClassName}DetailsResponse;
import in.novopay.services.base.IBaseView;

/**
 * Created by ${entity.author} on ${entity.date}.
 */

public interface View${entity.upperCamelCaseClassName}View extends IBaseView {
	String getId();
    void onSuccessResponseOfDetails(Get${entity.upperCamelCaseClassName}DetailsResponse response);
    void OnFailureResponseOfDetails();
    
    void onSuccessResponseOfDelete(Delete${entity.upperCamelCaseClassName}Response response);
    void OnFailureResponseOfDelete();
}