import {Component, ViewEncapsulation} from '@angular/core';
import {Location} from "@angular/common";
import {ActivatedRoute, Router} from '@angular/router';

import {CommonHttpService} from "../../services/common-http.service";
import {CommonUtilityService} from "../../services/common-utility.service";
import {App} from "../../app.component";
import {AppConstants} from "../../app.constants";
import {BaseComponent} from "../../base-module/create/base-create.component";
import {BaseService} from "../../base-module/base.service";
import {ResourceFactoryConstants} from "../../services/resource-factory.constants";
import {BaseEditComponent} from "../../base-module/edit/base-edit.component";

declare var jQuery:any;

@Component({
selector: '[${entity.lowerTrainCaseClassName}-edit]',
templateUrl: './${entity.lowerTrainCaseClassName}-edit.component.html',
encapsulation: ViewEncapsulation.None,
})
export class ${entity.upperCamelCaseClassName}EditComponent extends BaseEditComponent {
#foreach ($field in $entity.fieldList)
    #if($field.IsAutoPopulate)
    private ${field.apiKey}: string = '';
    #end
#end
constructor(private location:Location,
private mainApp: App,
private appConstants: AppConstants,
private commonHttpService:CommonHttpService,
private commonUtilityService:CommonUtilityService,
private baseService: BaseService,
private router:Router,
private route:ActivatedRoute,
protected resourceFactoryConstants:ResourceFactoryConstants) {
super(location, mainApp, appConstants, commonHttpService, commonUtilityService,
baseService, router, route, resourceFactoryConstants);

let createComponentProperty : ICreateComponentProperty = {
componentPermissionKey: 'PERMISSION_KEY',
formHtmlId: '${entity.lowerTrainCaseClassName}-edit-form',
createComponentAPI: this.resourceFactoryConstants.constants.${entity.lowerCamelCaseClassName}.create,
listComponentUrl: '/app/${entity.lowerTrainCaseClassName}/list',
entity: {
#foreach ($field in $entity.fieldList)
    #if ($field.webType.equals('Textbox') || $field.webType.equals('Textarea')  || $field.webType.equals(
        'Date') || $field.webType.equals('Datetime'))
        ${field.lowerCamelCaseName}: {
        #if (${field.minDate})
        minDate: '${field.minDate}',
        #end
        #if (${field.maxDate})
        maxDate: '${field.maxDate}',
        #end
    value: '',
    type: '${field.webType}',
    apiKey: '${field.apiKey}',
    parentApiKey: '${field.parentApiKey}'
    },
    #end
#end
},
radioEntity: {
#foreach ($field in $entity.fieldList)
    #if ($field.webType.equals('Radio'))
        ${field.lowerCamelCaseName}: {
    displayName: '${field.displayName}',
    value: '',
    groupName: '${field.lowerTrainCaseName}-grp',
    apiKey: '${field.apiKey}',
    parentApiKey: '${field.parentApiKey}',
    populateFromMasterData: ${field.populateFromMasterData},
    masterDataType: '${field.masterDataType}',
    masterDataSubType: null,
        #if (${field.isCodeIncludedInDisplay})
        isCodeIncludedInDisplay: ${field.isCodeIncludedInDisplay},
        #end
        #if (${field.inputApi})
        inputApi: "${field.inputApi}",
        #end
        #if (${field.inputApiListKey})
        inputApiListKey: "${field.inputApiListKey}",
        #end
        #if (${field.inputApiDetailsKey})
        inputApiDetailsKey: "${field.inputApiDetailsKey}",
        #end
        #if (${field.inputApiIdKey})
        inputApiIdKey: "${field.inputApiIdKey}",
        #end
        #if (${field.inputApiCodeKey})
        inputApiCodeKey: "${field.inputApiCodeKey}",
        #end
        #if (${field.inputApiValueKey})
        inputApiValueKey: "${field.inputApiValueKey}",
        #end
    dataList : [
        #if ($!{field.dataList} )
            #foreach ($element in $field.dataList)
            {
            "id": "${element.id}",
            "code": "${element.code}",
            "text": "${element.text}"
            },
            #end
        ]
        #end
    },
    #end
#end
},
dropdownEntity: {
#foreach ($field in $entity.fieldList)
    #if ($field.webType.equals('Dropdown'))
        ${field.lowerCamelCaseName}: {
    displayName: '${field.displayName}',
    isValid: true,
    selectedValue: '',
    initialValues: [],
    ready: false,
    options: {
    placeholder: '${field.placeholder}'
    },
    required: ${field.isMandatory},
        #if (${field.populateFromMasterData})
        populateFromMasterData: ${field.populateFromMasterData},
        #end
        #if (${field.masterDataType})
        masterDataType: '${field.masterDataType}',
        #end
        #if (${field.masterDataSubType})
        masterDataSubType: '${field.masterDataSubType}',
        #end
        #if (${field.isCodeIncludedInDisplay})
        isCodeIncludedInDisplay: ${field.isCodeIncludedInDisplay},
        #end
        #if (${field.inputApi})
        inputApi: "${field.inputApi}",
        #end
        #if (${field.inputApiListKey})
        inputApiListKey: "${field.inputApiListKey}",
        #end
        #if (${field.inputApiDetailsKey})
        inputApiDetailsKey: "${field.inputApiDetailsKey}",
        #end
        #if (${field.inputApiIdKey})
        inputApiIdKey: "${field.inputApiIdKey}",
        #end
        #if (${field.inputApiCodeKey})
        inputApiCodeKey: "${field.inputApiCodeKey}",
        #end
        #if (${field.inputApiValueKey})
        inputApiValueKey: "${field.inputApiValueKey}",
        #end
    apiKey: '${field.apiKey}',
    parentApiKey: '${field.parentApiKey}',
    dataList : [
        #if ($!{field.dataList} )
            #foreach ($element in $field.dataList)
            {
            "id": "${element.id}",
            "code": "${element.code}",
            "text": "${element.text}"
            },
            #end
        ]
        #end
    },
    #end
#end
},
checkboxEntity: {
#foreach ($field in $entity.fieldList)
    #if ($field.webType.equals('Checkbox'))
        ${field.lowerCamelCaseName}: {
    displayName: '${field.displayName}',
    apiKey: '${field.apiKey}',
    parentApiKey: '${field.parentApiKey}',
    checkUncheckAllCheckboxesModel: false,
    isValidAllowedCheckboxes: true,
    required: ${field.isMandatory},
        #if (${field.populateFromMasterData})
        populateFromMasterData: ${field.populateFromMasterData},
        #end
        #if (${field.masterDataType})
        masterDataType: '${field.masterDataType}',
        #end
        #if (${field.masterDataSubType})
        masterDataSubType: '${field.masterDataSubType}',
        #end
        #if (${field.isCodeIncludedInDisplay})
        isCodeIncludedInDisplay: ${field.isCodeIncludedInDisplay},
        #end
        #if (${field.inputApi})
        inputApi: "${field.inputApi}",
        #end
        #if (${field.inputApiListKey})
        inputApiListKey: "${field.inputApiListKey}",
        #end
        #if (${field.inputApiDetailsKey})
        inputApiDetailsKey: "${field.inputApiDetailsKey}",
        #end
        #if (${field.inputApiIdKey})
        inputApiIdKey: "${field.inputApiIdKey}",
        #end
        #if (${field.inputApiCodeKey})
        inputApiCodeKey: "${field.inputApiCodeKey}",
        #end
        #if (${field.inputApiValueKey})
        inputApiValueKey: "${field.inputApiValueKey}",
        #end
    dataList : [
        #if ($!{field.dataList} )
            #foreach ($element in $field.dataList)
            {
            id: "${element.id}",
            code: "${element.code}",
            text: "${element.text}",
            isChecked: false,
            },
            #end
        ]
        #end
    },
    #end
#end
},
requestBody: {
#foreach ($parent in $entity.parentApiList)
'${parent.name}' : {},
#end
}};

let editComponentProperty : IEditComponentProperty = {
componentIdRequestBodyKey : "${entity.fetchApiKey}",
componentDetailsAPI : this.resourceFactoryConstants.constants.${entity.lowerCamelCaseClassName}.getDetails,
createComponentProperty : createComponentProperty
};

super.setEditComponentProperties(editComponentProperty);
}
}