<form id="${entity.lowerTrainCaseClassName}-edit-form" class="parsleyjs" method="post"
      data-parsley-priority-enabled="true"
      novalidate="novalidate" [ngBusy]="busy">
    <div class="clearfix">
        <div *ngIf="!reviewMode" class="pull-right">
            <button type="button" (click)="cancelForm()" class="button button-basic">
                {{'form-btn-back' |
                translate}}
            </button>
            <button type="submit" (click)="submitForm()" class="button button-primary">
                {{'form-btn-save' |
                translate}}
            </button>
        </div>
        <h1 class="page-title">{{'${entity.lowerTrainCaseClassName}-edit-page-header' | translate}}</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="widget" [ngBusy]="busy">
                <div class="widget-body">
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <legend><span class="section-label">{{'form-basic' |
                                translate}}</span>
                            </legend>
                            <div class="row">
                                #foreach ($field in $entity.fieldList)
                                    #if ($field.webType.equals('Textbox'))
                                        <!-- Textbox -->
                                        <div class="form-group col-lg-3 col-sm-4 field-type">
                                            <label for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                   class="label-name">{{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                                | translate}}
                                                #if ($field.isMandatory)
                                                    *
                                                #end
                                            </label>

                                            <div>
                                                <input *ngIf="!readOnly" type="text"
                                                       name="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                       id="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                       class="form-control textbox"
                                                    #if ($field.validationPattern)
                                                       data-parsley-pattern="${field.validationPattern}"
                                                    #end
                                                    #if ($field.IsAutoPopulate)
                                                       [(ngModel)]="${field.lowerCamelCaseName}"
                                                    #else
                                                       [(ngModel)]="entity.${field.lowerCamelCaseName}.value"
                                                    #end
                                                    #if ($field.minLength)
                                                       minLength="${field.minLength}"
                                                    #end
                                                    #if ($field.maxLength)
                                                       maxlength="${field.maxLength}"
                                                    #end
                                                    #if ($field.placeholder)
                                                       placeholder="${field.placeholder}"
                                                    #end
                                                       data-parsley-trigger="change"
                                                    #if ($field.isMandatory)
                                                       required
                                                       data-parsley-required-message="Required Field"
                                                       data-parsley-length-message="Minimum length of ${field.minLength} characters"
                                                    #end
                                                    #if ($field.IsAutoPopulate)
                                                       disabled="disabled"
                                                    #end
                                                >

                                                <label *ngIf="readOnly"
                                                    #if ($field.IsAutoPopulate)
                                                       title="{{${field.lowerCamelCaseName}}}"
                                                    #else
                                                       title="{{entity.${field.lowerCamelCaseName}.value}}"
                                                    #end
                                                       class="read-only-view-label break-long-text">
                                                    #if ($field.IsAutoPopulate)
                                                        {{${field.lowerCamelCaseName}}}
                                                    #else
                                                        {{entity.${field.lowerCamelCaseName}.value}}
                                                    #end</label>
                                            </div>
                                        </div>

                                    #elseif ($field.webType.equals('Textarea'))
                                        <!-- TextArea -->
                                        <div class="form-group col-lg-3 col-sm-4 field-type">
                                            <label for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                   class="label-name">{{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                                | translate}}
                                                #if ($field.isMandatory)
                                                    *
                                                #end
                                            </label>

                                            <div>
                                    <textarea *ngIf="!readOnly" type="text"
                                              name="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                              id="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                              class="form-control textarea"
                                              rows="4"
                                        #if ($field.validationPattern)
                                              data-parsley-pattern="${field.validationPattern}"
                                        #end
                                        #if ($field.IsAutoPopulate)
                                              [(ngModel)]="${field.lowerCamelCaseName}"
                                        #else
                                              [(ngModel)]="entity.${field.lowerCamelCaseName}.value"
                                        #end
                                        #if ($field.minLength)
                                              minLength="${field.minLength}"
                                        #end
                                        #if ($field.maxLength)
                                              maxlength="${field.maxLength}"
                                        #end
                                        #if ($field.placeholder)
                                              placeholder="${field.placeholder}"
                                        #end
                                              data-parsley-trigger="change"
                                        #if ($field.isMandatory)
                                              required
                                              data-parsley-required-message="Required Field"
                                              data-parsley-length-message="Minimum length of ${field.minLength} characters"
                                        #end
                                        #if ($field.IsAutoPopulate)
                                              disabled="disabled"
                                        #end
                                    >
                                    </textarea>

                                                <label *ngIf="readOnly"
                                                       for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                    #if ($field.IsAutoPopulate)
                                                       title="{{${field.lowerCamelCaseName}}}"
                                                    #else
                                                       title="{{entity.${field.lowerCamelCaseName}.value}}"
                                                    #end
                                                       class="read-only-view-label break-long-text">
                                                    #if ($field.IsAutoPopulate)
                                                        {{${field.lowerCamelCaseName}}}
                                                    #else
                                                        {{entity.${field.lowerCamelCaseName}.value}}
                                                    #end
                                                </label>
                                            </div>
                                        </div>

                                    #elseif ($field.webType.equals('Dropdown'))
                                        <!-- Dropdown -->
                                        <div class="form-group col-lg-3 col-sm-4 field-type">
                                            <label class="label-name">
                                                {{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                                | translate}}
                                                #if ($field.isMandatory)
                                                    *
                                                #end
                                            </label>
                                            <div *ngIf="dropDownList.${field.lowerCamelCaseName}.ready">
                                                <select2 *ngIf="!readOnly"
                                                         id="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                         name="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                         (valueChanged)="dropDownValueChange($event,'${field.lowerCamelCaseName}','${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}')"
                                                         [value]="dropDownList.${field.lowerCamelCaseName}.initialValues"
                                                         [data]="dropDownList.${field.lowerCamelCaseName}.dataList"
                                                         [options]="dropDownList.${field.lowerCamelCaseName}.options"
                                                         ngDefaultControl
                                                    #if ($field.isMandatory)
                                                         required
                                                         [ngClass]="{'parsley-dropdown-error': !dropDownList.${field.lowerCamelCaseName}.isValid}"
                                                    #end
                                                    #if ($field.IsAutoPopulate)
                                                         disabled="disabled"
                                                    #end
                                                >
                                                </select2>

                                                <ul *ngIf="!dropDownList.${field.lowerCamelCaseName}.isValid"
                                                    class="parsley-errors-list filled">
                                                    <li class="parsley-pattern">{{'field-error-required-msg' |
                                                        translate}}
                                                    </li>
                                                </ul>

                                                <label *ngIf="readOnly"
                                                       title="{{dropDownList.${field.lowerCamelCaseName}.selectedValue}}"
                                                       class="read-only-view-label break-long-text">{{dropDownList.${field.lowerCamelCaseName}.selectedValue}}</label>
                                            </div>
                                        </div>

                                    #elseif ($field.webType.equals('Date'))
                                        <!-- Date -->
                                        <div class="form-group col-lg-3 col-sm-4 field-type">
                                            <label for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                   class="label-name">{{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                                | translate}}
                                                #if ($field.isMandatory)
                                                    *
                                                #end
                                            </label>

                                            <div>
                                                <input *ngIf="!readOnly"
                                                       name="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                       id="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                       type="date"
                                                    #if (${field.minDate})
                                                       min="{{entity.${field.lowerCamelCaseName}.minDate | date: 'dd-MM-yyyy'}}"
                                                    #else
                                                       min="{{todayDate}}"
                                                    #end
                                                    #if (${field.maxDate})
                                                       max="{{entity.${field.lowerCamelCaseName}.maxDate | date: 'dd-MM-yyyy'}}"
                                                    #else
                                                       max="9999-12-31"
                                                    #end
                                                       [(ngModel)]="entity.${field.lowerCamelCaseName}.value"
                                                       class="form-control date"
                                                       data-parsley-trigger="change"
                                                    #if ($field.isMandatory)
                                                       required
                                                       data-parsley-required-message="Required Field"
                                                    #end
                                                    #if ($field.IsAutoPopulate)
                                                       disabled="disabled"
                                                    #end
                                                >

                                                <label *ngIf="readOnly"
                                                       title="{{entity.${field.lowerCamelCaseName}.value}}"
                                                       class="read-only-view-label break-long-text">{{entity.${field.lowerCamelCaseName}.value}}</label>
                                            </div>
                                        </div>

                                    #elseif ($field.webType.equals('Datetime'))
                                        <!-- DateTime -->
                                        <div class="form-group col-lg-3 col-sm-4 field-type">
                                            <label for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                   class="label-name">{{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                                | translate}}
                                                #if ($field.isMandatory)
                                                    *
                                                #end
                                            </label>

                                            <div>
                                                <input *ngIf="!readOnly"
                                                       name="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                       id="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                       type="datetime-local"
                                                    #if (${field.minDate})
                                                       min="{{entity.${field.lowerCamelCaseName}.minDate | date: 'dd-MM-yyyy'}}"
                                                    #else
                                                       min="{{todayDate}}"
                                                    #end
                                                    #if (${field.maxDate})
                                                       max="{{entity.${field.lowerCamelCaseName}.maxDate | date: 'dd-MM-yyyy'}}"
                                                    #else
                                                       max="9999-12-31"
                                                    #end
                                                       [(ngModel)]="entity.${field.lowerCamelCaseName}.value"
                                                       class="form-control date"
                                                       data-parsley-trigger="change"
                                                    #if ($field.isMandatory)
                                                       required
                                                       data-parsley-required-message="Required Field"
                                                    #end
                                                    #if ($field.IsAutoPopulate)
                                                       disabled="disabled"
                                                    #end
                                                >

                                                <label *ngIf="readOnly"
                                                       title="{{entity.${field.lowerCamelCaseName}.value}}"
                                                       class="read-only-view-label break-long-text">{{entity.${field.lowerCamelCaseName}.value}}</label>
                                            </div>
                                        </div>

                                    #elseif ($field.webType.equals('Radio'))
                                        <!-- Radio -->
                                        <div class="form-group col-lg-3 col-sm-4 field-type">
                                            <label class="label-name">{{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                                | translate}}#if ($field.isMandatory)
                                                    *
                                                #end
                                            </label>
                                            <div *ngIf="!readOnly && radioList.${field.lowerCamelCaseName}.dataList.length>0"
                                                #if ($field.isMandatory)
                                                 id="${field.lowerTrainCaseName}-error">
                                                #end
                                                #set($counter = 0)
                                                #foreach ($element in $field.dataList)
                                                    <span class="abc-radio radiobox">
                                                            <input type="radio" name="${field.lowerTrainCaseName}-grp"
                                                                   id="${field.lowerTrainCaseName}-${element.code}"
                                                                   value="{{radioList.${field.lowerCamelCaseName}.dataList[$counter].code}}"
                                                                   [(ngModel)]="radioList.${field.lowerCamelCaseName}.value"
                                                                   data-parsley-trigger="change"
                                                                #if ($counter == 0 && $field.isMandatory)
                                                                   data-parsley-class-handler="#${field.lowerTrainCaseName}-error"
                                                                   data-parsley-errors-container="#${field.lowerTrainCaseName}-error-message"
                                                                   required
                                                                   data-parsley-required-message="Required Field"
                                                                #end
                                                                #if ($field.IsAutoPopulate)
                                                                   disabled="disabled"
                                                                #end
                                                            >
                                                            <label for="${field.lowerTrainCaseName}-${element.code}">
                                                                {{radioList.${field.lowerCamelCaseName}.dataList[$counter].text}}
                                                            </label>
                                                        </span>
                                                    #set($counter = $counter + 1)
                                                #end
                                                #if ($field.dataList.equals([]) )
                                                    <span class="abc-radio radiobox"
                                                          *ngFor=" let data of radioList.${field.lowerCamelCaseName}.dataList ; let i = index">
                                                            <input type="radio" name="${field.lowerTrainCaseName}-grp"
                                                                   id="${field.lowerTrainCaseName}-{{data.code}}"
                                                                   value="{{radioList.${field.lowerCamelCaseName}.dataList[i].code}}"
                                                                   [(ngModel)]="radioList.${field.lowerCamelCaseName}.value"
                                                                   data-parsley-trigger="change"
                                                                #if ($counter == 0 && $field.isMandatory)
                                                                   data-parsley-class-handler="#${field.lowerTrainCaseName}-error"
                                                                   data-parsley-errors-container="#${field.lowerTrainCaseName}-error-message"
                                                                   required
                                                                   data-parsley-required-message="Required Field"
                                                                #end
                                                                #if ($field.IsAutoPopulate)
                                                                   disabled="disabled"
                                                                #end
                                                            >
                                                            <label for="${field.lowerTrainCaseName}-{{data.code}}">
                                                                {{radioList.${field.lowerCamelCaseName}.dataList[i].text}}
                                                            </label>
                                                        </span>
                                                #end
                                            </div>
                                            #if ($field.isMandatory)
                                                <div id="${field.lowerTrainCaseName}-error-message"></div>
                                            #end
                                            <span *ngIf="readOnly"
                                                  [ngSwitch]="radioList.${field.lowerCamelCaseName}.value"
                                                  class="read-only-view-label break-long-text">
                                                #set($counter = 0)
                                                #foreach ($element in $field.dataList)
                                                    <span *ngSwitchCase="radioList.${field.lowerCamelCaseName}.dataList[$counter].code">
                                                        {{radioList.${field.lowerCamelCaseName}.dataList[$counter].text}}</span>
                                                    #set($counter = $counter + 1)
                                                #end
                                                #if ($field.dataList.equals([]) )
                                                    <span *ngFor=" let data of radioList.${field.lowerCamelCaseName}.dataList ; let i = index">
                                                        <label class="read-only-view-label break-long-text"
                                                               *ngSwitchCase="radioList.${field.lowerCamelCaseName}.dataList[i].code">
                                                            {{radioList.${field.lowerCamelCaseName}.dataList[i].text}}</label></span>
                                                #end
                                            </span>
                                        </div>


                                    #elseif ($field.webType.equals('Checkbox'))
                                        <!-- CheckBox -->
                                        <div class="form-group col-lg-3 col-sm-4 field-type">
                                            <label class="col-form-label">{{checkboxList.${field.lowerCamelCaseName}.displayName
                                                | translate}}#if ($field.isMandatory)
                                                    *
                                                #end
                                            </label>

                                            <div *ngIf="!readOnly && checkboxList.${field.lowerCamelCaseName}.dataList.length>0"
                                                 [ngClass]="{'parsley-error': !checkboxList.${field.lowerCamelCaseName}.isValidAllowedCheckboxes}">
                                                <div class="abc-checkbox abc-checkbox-primary">
                                                    <input id="${field.lowerTrainCaseName}-check-uncheck-all-allowed-checkboxes"
                                                           type="checkbox"
                                                           name="check-uncheck-all-allowed-${field.lowerTrainCaseName}-checkboxes"
                                                           [(ngModel)]="checkboxList.${field.lowerCamelCaseName}.checkUncheckAllCheckboxesModel"
                                                           (click)="checkUncheckAllCheckboxesModel('${field.lowerCamelCaseName}')"
                                                        #if ($field.IsAutoPopulate)
                                                           disabled="disabled"
                                                        #end
                                                    >
                                                    <label for="${field.lowerTrainCaseName}-check-uncheck-all-allowed-checkboxes">
                                                        {{'savings-product-create-check-uncheck-all' | translate}}
                                                    </label>
                                                </div>

                                                <div class="abc-checkbox abc-checkbox-primary">
                                                    #set($counter = 0)
                                                    #foreach ($element in $field.dataList)
                                                        <div>
                                                            <input id="${field.lowerTrainCaseName}-${element.code}"
                                                                   type="checkbox"
                                                                   name="${field.lowerTrainCaseName}-${element.code}"
                                                                   [(ngModel)]="checkboxList.${field.lowerCamelCaseName}.dataList[$counter].isChecked"
                                                                   (click)="checkBoxClick('${field.lowerCamelCaseName}')"
                                                                #if ($field.IsAutoPopulate)
                                                                   disabled="disabled"
                                                                #end
                                                            >
                                                            <label for="${field.lowerTrainCaseName}-${element.code}">
                                                                ${element.text}
                                                            </label>
                                                        </div>
                                                        #set($counter = $counter + 1)
                                                    #end
                                                    #if ($field.dataList.equals([]) )
                                                        <div class="abc-checkbox abc-checkbox-primary"
                                                             *ngFor=" let data of checkboxList.${field.lowerCamelCaseName}.dataList ; let i = index">
                                                            <input id="${field.lowerTrainCaseName}-{{data.code}}"
                                                                   type="checkbox"
                                                                   name="${field.lowerTrainCaseName}-{{data.code}}"
                                                                   [(ngModel)]="checkboxList.${field.lowerCamelCaseName}.dataList[i].isChecked"
                                                                   (click)="checkBoxClick('${field.lowerCamelCaseName}')"
                                                                #if ($field.IsAutoPopulate)
                                                                   disabled="disabled"
                                                                #end
                                                            >
                                                            <label for="${field.lowerTrainCaseName}-{{data.code}}">
                                                                {{data.text}}
                                                            </label>
                                                        </div>
                                                    #end
                                                </div>

                                                <div *ngIf="readOnly">
                                                    #set($counter = 0)
                                                    #foreach ($element in $field.dataList)
                                                        <div class="abc-checkbox abc-checkbox-primary">
                                                            <label *ngIf="checkboxList.${field.lowerCamelCaseName}.dataList[$counter].isChecked"
                                                                   title="${element.text}"
                                                                   class="read-only-view-label col-form-label wrap-long-text"> ${element.text}
                                                            </label>
                                                        </div>
                                                        #set($counter = $counter + 1)
                                                    #end
                                                    #if ($field.dataList.equals([]) )
                                                        <div *ngFor=" let data of checkboxList.${field.lowerCamelCaseName}.dataList ; let i = index"
                                                             class="abc-checkbox abc-checkbox-primary">
                                                            <label *ngIf="checkboxList.${field.lowerCamelCaseName}.dataList[i].isChecked"
                                                                   title="{{data.text}}"
                                                                   class="read-only-view-label col-form-label wrap-long-text">
                                                                {{data.text}}
                                                            </label>
                                                        </div>
                                                    #end
                                                </div>
                                            </div>

                                            <div *ngIf="!checkboxList.${field.lowerCamelCaseName}.isValidAllowedCheckboxes">
                                                #if ($field.isMandatory)
                                                    <ul class="parsley-errors-list filled">
                                                        <li class="parsley-pattern">
                                                            {{'form-error-atleast-one-required-msg' | translate}}
                                                        </li>
                                                    </ul>
                                                #end
                                            </div>
                                        </div>

                                    #elseif ($field.webType.equals('Multiselect'))
                                        <!-- Multiselect -->
                                        <div class="form-group col-lg-3 col-sm-4">
                                            <label class="col-form-label">
                                                {{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                                | translate}}
                                                #if ($field.isMandatory)
                                                    *
                                                #end
                                            </label>

                                            <div *ngIf="multiselectEntity.${field.lowerCamelCaseName}.dataList.length>0">
                                                <angular2-multiselect *ngIf="!readOnly"
                                                                      id="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                                      name="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                                      [data]="multiselectEntity.${field.lowerCamelCaseName}.dataList"
                                                                      [(ngModel)]="multiselectEntity.${field.lowerCamelCaseName}.selectedList"
                                                                      [settings]="multiselectEntity.${field.lowerCamelCaseName}.dropdownSettings"
                                                                      (onSelect)="onItemSelect($event)"
                                                                      (onDeSelect)="OnItemDeSelect($event)"
                                                                      (onSelectAll)="onSelectAll($event)"
                                                                      (onDeSelectAll)="onDeSelectAll($event)">
                                                </angular2-multiselect>

                                                <ul *ngIf="!multiselectEntity.${field.lowerCamelCaseName}.isValid"
                                                    class="parsley-errors-list filled">
                                                    <li class="parsley-pattern">{{'form-error-required-msg' |
                                                        translate}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    #end
                                #end
                            </div>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
</form>