<h1 class="page-title"><span
        class="fw-semi-bold">{{'${entity.lowerTrainCaseClassName}-edit-page-header' | translate}}</span></h1>

<form id="${entity.lowerTrainCaseClassName}-edit-form" class="parsleyjs" method="post"
      data-parsley-priority-enabled="false"
      novalidate="novalidate" [ngBusy]="busy">
    <div class="row">
        <div class="col-lg-6">
            <section class="widget" widget [ngBusy]="busy">
                <div class="widget-body">
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <legend><strong>{{'${entity.lowerTrainCaseClassName}-edit-form-header-basic' |
                                translate}}</strong>
                                {{'${entity.lowerTrainCaseClassName}-edit-form-header-details' | translate}}
                            </legend>

                            #foreach ($field in $entity.fieldList)
                                #if ($field.webType.equals('Textbox'))
                                    <!-- Textbox -->
                                    <div class="form-group row">
                                        <label for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                               class="col-md-4  col-form-label text-md-right">{{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                            | translate}}
                                            #if ($field.isMandatory)
                                                *
                                            #end
                                        </label>

                                        <div class="col-md-8 ">
                                            <input *ngIf="!readOnly" type="text"
                                                   name="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                #if ($field.validationPattern)
                                                   data-parsley-pattern="${field.validationPattern}"
                                                #end
                                                   [(ngModel)]="entity.${field.lowerCamelCaseName}.value"
                                                #if ($field.minLength)
                                                   minLength="${field.minLength}"
                                                #end
                                                #if ($field.maxLength)
                                                   maxlength="${field.maxLength}"
                                                #end
                                                   id="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                   class="form-control"
                                                #if ($field.placeholder)
                                                   placeholder="${field.placeholder}"
                                                #end
                                                   data-parsley-trigger="change"
                                                #if ($field.isMandatory)
                                                   required="true"
                                                #end
                                            >

                                            <label *ngIf="readOnly"
                                                   for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                   title="{{entity.${field.lowerCamelCaseName}.value}}"
                                                   class="read-only-view-label col-form-label wrap-long-text">{{entity.${field.lowerCamelCaseName}.value}}</label>
                                        </div>
                                    </div>

                                #elseif ($field.webType.equals('Textarea'))
                                    <!-- TextArea -->
                                    <div class="form-group row">
                                        <label for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                               class="col-md-4  col-form-label text-md-right">{{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                            | translate}}
                                            #if ($field.isMandatory)
                                                *
                                            #end
                                        </label>

                                        <div class="col-md-8 ">
                                    <textarea *ngIf="!readOnly" type="text"
                                              name="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                              rows="4"
                                        #if ($field.validationPattern)
                                              data-parsley-pattern="${field.validationPattern}"
                                        #end
                                              [(ngModel)]="entity.${field.lowerCamelCaseName}.value"
                                        #if ($field.minLength)
                                              minLength="${field.minLength}"
                                        #end
                                        #if ($field.maxLength)
                                              maxlength="${field.maxLength}"
                                        #end
                                              id="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                              class="form-control"
                                        #if ($field.placeholder)
                                              placeholder="${field.placeholder}"
                                        #end
                                              data-parsley-trigger="change"
                                        #if ($field.isMandatory)
                                              required="true"
                                        #end
                                    >
                                    </textarea>

                                            <label *ngIf="readOnly"
                                                   for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                   title="{{entity.${field.lowerCamelCaseName}.value}}"
                                                   class="read-only-view-label col-form-label wrap-long-text">{{entity.${field.lowerCamelCaseName}.value}}</label>
                                        </div>
                                    </div>

                                #elseif ($field.webType.equals('Dropdown'))
                                    <!-- Dropdown -->
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right"
                                               for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}">
                                            {{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                            | translate}}
                                            #if ($field.isMandatory)
                                                *
                                            #end
                                        </label>

                                        <div class="col-md-8 "
                                             *ngIf="dropDownList.${field.lowerCamelCaseName}.ready">
                                            <select2 *ngIf="!readOnly"
                                                     id="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                     name="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                     (valueChanged)="dropDownValueChange($event,'${field.lowerCamelCaseName}','${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}')"
                                                     [value]="dropDownList.${field.lowerCamelCaseName}.initialValues"
                                                     [data]="dropDownList.${field.lowerCamelCaseName}.dataList"
                                                     [options]="dropDownList.${field.lowerCamelCaseName}.options"
                                                     ngDefaultControl
                                                #if ($field.isMandatory)
                                                     required="true"
                                                #end
                                            >
                                            </select2>

                                            <ul *ngIf="!dropDownList.${field.lowerCamelCaseName}.isValid"
                                                class="parsley-errors-list filled">
                                                <li class="parsley-pattern">{{'form-error-required-msg' | translate}}
                                                </li>
                                            </ul>

                                            <label *ngIf="readOnly"
                                                   for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                   title="{{dropDownList.${field.lowerCamelCaseName}.selectedValue}}"
                                                   class="read-only-view-label col-form-label wrap-long-text">{{dropDownList.${field.lowerCamelCaseName}.selectedValue}}</label>
                                        </div>
                                    </div>

                                #elseif ($field.webType.equals('Date'))
                                    <!-- Date -->
                                    <div class="form-group row">
                                        <label for="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                               class="col-md-4  col-form-label text-md-right">{{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                            | translate}}
                                            #if ($field.isMandatory)
                                                *
                                            #end
                                        </label>

                                        <div class="col-md-8 ">
                                            <input *ngIf="!readOnly"
                                                   name="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                   id="${entity.lowerTrainCaseClassName}-${field.lowerTrainCaseName}"
                                                   type="date"
                                                #if (${field.minDate})
                                                   min="{{entity.${field.lowerCamelCaseName}.minDate | date: 'yyyy-MM-dd'}}"
                                                #else
                                                   min="{{todayDate}}"
                                                #end
                                                #if (${field.maxDate})
                                                   max="{{entity.${field.lowerCamelCaseName}.maxDate | date:'yyyy-MM-dd'}}"
                                                #else
                                                   max="9999-12-31"
                                                #end
                                                   [ngModel]="entity.${field.lowerCamelCaseName}.value | date: 'yyyy-MM-dd'"
                                                   (ngModelChange)="entity.${field.lowerCamelCaseName}.value = $event"
                                                   class="form-control"
                                                   data-parsley-trigger="change"
                                                #if ($field.isMandatory)
                                                   required="true"
                                                #end
                                            >

                                            <label *ngIf="readOnly"
                                                   title="{{entity.${field.lowerCamelCaseName}.value}}"
                                                   class="read-only-view-label col-form-label wrap-long-text">{{entity.${field.lowerCamelCaseName}.value}}</label>
                                        </div>
                                    </div>

                                #elseif ($field.webType.equals('Radio'))
                                    <!-- Radio -->
                                    <div class="form-group row">
                                        <label class="col-md-4  col-form-label text-md-right">{{radioList.${field.lowerCamelCaseName}.displayName
                                            | translate}}#if ($field.isMandatory)
                                                *
                                            #end
                                        </label>
                                        <div class="col-md-7 ">
                                            <div *ngIf="!readOnly && radioList.${field.lowerCamelCaseName}.dataList.length>0">
                                                #set($counter = 0)
                                                #foreach ($element in $field.dataList)
                                                    <div class="abc-radio">
                                                        <input type="radio" name="${field.lowerTrainCaseName}-grp"
                                                               id="${field.lowerTrainCaseName}-${element.code}"
                                                               value="{{radioList.${field.lowerCamelCaseName}.dataList[$counter].code}}"
                                                               [(ngModel)]="radioList.${field.lowerCamelCaseName}.value"
                                                               data-parsley-trigger="change"
                                                            #if ($counter == 0 && $field.isMandatory)
                                                               data-parsley-errors-container="#${field.lowerTrainCaseName}-error"
                                                            #end
                                                            #if ($field.isMandatory)
                                                               required="true"
                                                            #end>
                                                        <label for="${field.lowerTrainCaseName}-${element.code}">
                                                            {{radioList.${field.lowerCamelCaseName}.dataList[$counter].text}}
                                                        </label>
                                                    </div>
                                                    #set($counter = $counter + 1)
                                                #end
                                                #if ($field.dataList.equals([]) )
                                                    <div class="abc-radio"
                                                         *ngFor=" let data of radioList.${field.lowerCamelCaseName}.dataList ; let i = index">
                                                        <input type="radio" name="${field.lowerTrainCaseName}-grp"
                                                               id="${field.lowerTrainCaseName}-{{data.code}}"
                                                               value="{{radioList.${field.lowerCamelCaseName}.dataList[i].code}}"
                                                               [(ngModel)]="radioList.${field.lowerCamelCaseName}.value"
                                                               data-parsley-trigger="change"
                                                            #if ($counter == 0 && $field.isMandatory)
                                                               data-parsley-errors-container="#${field.lowerTrainCaseName}-error"
                                                            #end
                                                            #if ($field.isMandatory)
                                                               required="true"
                                                            #end>
                                                        <label for="${field.lowerTrainCaseName}-{{data.code}}">
                                                            {{radioList.${field.lowerCamelCaseName}.dataList[i].text}}
                                                        </label>
                                                    </div>
                                                #end
                                            </div>
                                            #if ($counter == 0 && $field.isMandatory)
                                                <div id="${field.lowerTrainCaseName}-error"></div>
                                            #end
                                            <label *ngIf="readOnly"
                                                   [ngSwitch]="radioList.${field.lowerCamelCaseName}.value"
                                                   class="read-only-view-label col-form-label wrap-long-text">
                                                #set($counter = 0)
                                                #foreach ($element in $field.dataList)
                                                    <a *ngSwitchCase="radioList.${field.lowerCamelCaseName}.dataList[$counter].code">
                                                        {{radioList.${field.lowerCamelCaseName}.dataList[$counter].text}}</a>
                                                    #set($counter = $counter + 1)
                                                #end
                                                #if ($field.dataList.equals([]) )
                                                    <a *ngFor=" let data of radioList.${field.lowerCamelCaseName}.dataList ; let i = index">
                                                        <a *ngSwitchCase="radioList.${field.lowerCamelCaseName}.dataList[i].code">
                                                            {{radioList.${field.lowerCamelCaseName}.dataList[i].text}}</a></a>
                                                #end
                                            </label>
                                        </div>
                                    </div>

                                #elseif ($field.webType.equals('Checkbox'))
                                    <!-- CheckBox -->
                                    <div class="form-group row">
                                        <label class="col-md-4  col-form-label text-md-right">{{checkboxList.${field.lowerCamelCaseName}.displayName
                                            | translate}}#if ($field.isMandatory)
                                                *
                                            #end
                                        </label>

                                        <div class="col-md-8 ">
                                            <div *ngIf="!readOnly" class="abc-checkbox abc-checkbox-primary">
                                                <input id="${field.lowerTrainCaseName}-check-uncheck-all-allowed-checkboxes"
                                                       type="checkbox"
                                                       name="check-uncheck-all-allowed-${field.lowerTrainCaseName}-checkboxes"
                                                       [(ngModel)]="checkboxList.${field.lowerCamelCaseName}.checkUncheckAllCheckboxesModel"
                                                       (click)="checkUncheckAllCheckboxesModel('${field.lowerCamelCaseName}')">
                                                <label for="${field.lowerTrainCaseName}-check-uncheck-all-allowed-checkboxes">
                                                    {{'savings-product-create-check-uncheck-all' | translate}}
                                                </label>
                                            </div>

                                            <div *ngIf="!readOnly">
                                                #set($counter = 0)
                                                #foreach ($element in $field.dataList)
                                                    <div class="abc-checkbox abc-checkbox-primary">
                                                        <input id="${field.lowerTrainCaseName}-${element.code}"
                                                               type="checkbox"
                                                               name="${field.lowerTrainCaseName}-${element.code}"
                                                               [(ngModel)]="checkboxList.${field.lowerCamelCaseName}.dataList[$counter].isChecked"
                                                               (click)="checkBoxClick('${field.lowerCamelCaseName}')"
                                                        >
                                                        <label for="${field.lowerTrainCaseName}-${element.code}">
                                                            ${element.text}
                                                        </label>
                                                    </div>
                                                    #set($counter = $counter + 1)
                                                #end
                                                #if ($field.dataList.equals([]) )
                                                    <div class="abc-checkbox abc-checkbox-primary"
                                                         *ngFor=" let data of checkboxList.${field.lowerCamelCaseName}.dataList ; let i = index">
                                                        <input id="${field.lowerTrainCaseName}-{{data.code}}"
                                                               type="checkbox"
                                                               name="${field.lowerTrainCaseName}-{{data.code}}"
                                                               [(ngModel)]="checkboxList.${field.lowerCamelCaseName}.dataList[i].isChecked"
                                                               (click)="checkBoxClick('${field.lowerCamelCaseName}')"
                                                        >
                                                        <label for="${field.lowerTrainCaseName}-{{data.code}}">
                                                            {{data.text}}
                                                        </label>
                                                    </div>
                                                #end
                                            </div>

                                            <div *ngIf="!checkboxList.${field.lowerCamelCaseName}.isValidAllowedCheckboxes">
                                                #if ($field.isMandatory)
                                                    <ul class="parsley-errors-list filled">
                                                        <li class="parsley-pattern">
                                                            {{'form-error-atleast-one-required-msg' | translate}}
                                                        </li>
                                                    </ul>
                                                #end
                                            </div>

                                            <div *ngIf="readOnly">
                                                #set($counter = 0)
                                                #foreach ($element in $field.dataList)
                                                    <div class="abc-checkbox abc-checkbox-primary">
                                                        <label *ngIf="checkboxList.${field.lowerCamelCaseName}.dataList[$counter].isChecked"
                                                               title="${element.text}"
                                                               class="read-only-view-label col-form-label wrap-long-text"> ${element.text}
                                                        </label>
                                                    </div>
                                                    #set($counter = $counter + 1)
                                                #end
                                                #if ($field.dataList.equals([]) )
                                                    <div *ngFor=" let data of checkboxList.${field.lowerCamelCaseName}.dataList ; let i = index"
                                                         class="abc-checkbox abc-checkbox-primary">
                                                        <label *ngIf="checkboxList.${field.lowerCamelCaseName}.dataList[i].isChecked"
                                                               title="{{data.text}}"
                                                               class="read-only-view-label col-form-label wrap-long-text">
                                                            {{data.text}}
                                                        </label>
                                                    </div>
                                                #end
                                            </div>
                                        </div>
                                    </div>
                                #end
                            #end
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <div *ngIf="!reviewMode" class="form-actions">
        #foreach ($button in $entity.buttonList)
            #if ($button.name == 'cancel')
                <button type="button" (click)="cancelForm()" class="btn btn-default btn-rounded">
                    {{'form-btn-edit-cancel-$(button.lowerTrainCaseName)' |
                    translate}}
                </button>
            #elseif ($button.name == 'save')
                <button type="submit" (click)="saveFormData()" class="btn btn-primary btn-rounded">
                    {{'form-btn-edit-save-$(button.lowerTrainCaseName)' |
                    translate}}
                </button>
            #end
        #end
    </div>
</form>