<section class="widget" widget>
    <header>
        <h4><span class="fw-semi-bold">{{'${entity.lowerTrainCaseClassName}-list-page-header' | translate}}</span></h4>
        <div class="widget-controls">
            <button type="button" class="btn btn-gray mb-xs list-view-search-filter"
                    (click)="toggleShowSearchBlocks()"
                    title="{{'filter-button-tooltip' | translate}}">
                <i class="fa fa-search"></i></button>
            <button *ngIf="permissionForCreate" class="btn btn-primary width-100 mb-xs" role="button"
                    [routerLink]="['../create']">
                {{'list-btn-add' | translate}}
            </button>
        </div>
    </header>
    <div class="widget-body">
        <legend></legend>
        <div class="mt">
            <table class="table table-striped table-hover" [ngBusy]="busy" [mfData]="masterData" #mf="mfDataTable"
                   [mfRowsOnPage]="tableItemsPerPage">
                <thead>
                <tr>
                    #set($textSearchCounter = 0)
                    #set($dropdownSearchCounter = 0)
                    #foreach ($field in $entity.fieldList)
                        #if($field.isListElement)
                            <th *ngIf="showSearchBlocks">
                                #if(${field.Searchable} && $field.searchType == "Textbox")
                                    <div class="list-view-search-div">
                                        <div>
                                            <div class="input-group input-group-sm input-group-transparent input-group-rounded">
                                            <span *ngIf="!searchModels[$textSearchCounter].isSelected"
                                                  class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                                <span (click)="cancelSearchAttribute($textSearchCounter)"
                                                      *ngIf="searchModels[$textSearchCounter].isSelected"
                                                      class="input-group-addon">
                                                <i class="fa fa-times"></i>
                                            </span>
                                                <input (keypress)="changeSearchModel($event.keyCode,$textSearchCounter)"
                                                       [(ngModel)]="searchModels[$textSearchCounter].value"
                                                       (ngModelChange)="onSearchFieldChange($textSearchCounter)"
                                                       maxlength="16"
                                                       class="form-control form-control-sm"
                                                       type="text" placeholder="${field.placeholder}">
                                            </div>
                                        </div>
                                    </div>
                                    #set($textSearchCounter = $textSearchCounter+1)
                                #end
                                #if(${field.Searchable} && $field.isListElement && $field.searchType == "Dropdown")
                                    <div *ngIf="dropDownList[$dropdownSearchCounter].dataList.length>0">
                                        <div class="list-view-status-dropdown-div">
                                            <div>
                                                <select2
                                                        (valueChanged)="setDropdownAndSearch($event,$dropdownSearchCounter)"
                                                        [value]="dropDownList[$dropdownSearchCounter].initialValues"
                                                        [options]="dropDownList[$dropdownSearchCounter].options"
                                                        [data]="dropDownList[$dropdownSearchCounter].dataList">
                                                </select2>
                                            </div>
                                            <div *ngIf="dropDownList[$dropdownSearchCounter].selectedFlag">
                                                <a (click)="cancelDropdown($dropdownSearchCounter)"><i
                                                        class="glyphicon glyphicon-remove list-view-status-icon"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    #set($dropdownSearchCounter = $dropdownSearchCounter+1)
                                #end
                            </th>
                        #end
                    #end

                    <th *ngIf="showSearchBlocks">
                        <button [ngClass]="{'disabled': isSearchClear}" type="button"
                                class="btn btn-gray mb-xs list-view-search-filter"
                                (click)="clearAllSearch()"
                                title="{{'block-button-tooltip' | translate}}">
                            {{'list-btn-clear-search' | translate}}
                        </button>
                    </th>
                </tr>
                <tr>
                    #set($counter = 0)
                    #foreach ($field in $entity.fieldList)
                        #if(${field.isListElement})
                            #if(${field.Sortable})
                                <th>
                                    <mfDefaultSorter (click)="sortFormData($counter)" by="${field.apiKey}1">
                                        {{'${entity.lowerTrainCaseClassName}-list-header-${field.lowerTrainCaseName}' |
                                        translate}}
                                    </mfDefaultSorter>
                                </th>
                            #else
                                <th>
                                    {{'${entity.lowerTrainCaseClassName}-list-header-${field.lowerTrainCaseName}' |
                                    translate}}
                                </th>
                            #end
                            #set($counter = $counter+1)
                        #end
                    #end
                    <th class="no-sort">
                        {{'${entity.lowerTrainCaseClassName}-list-header-actions' | translate}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row" *ngFor="let item of mf.data" (click)="viewFormData(item.$entity.fetchApiKey)">
                    #foreach ($field in $entity.fieldList)
                        #if($field.isListElement)
                            #if ($field.webType.equals('Date'))
                                <td class="wrap-long-text" title="{{item.${field.apiKey}  | date: 'dd-MM-yyyy'}}"><span
                                        class="fw-semi-bold">{{item.${field.apiKey}  | date: 'dd-MM-yyyy'}}</span></td>
                            #else
                                <td class="wrap-long-text" title="{{item.${field.apiKey}}}"><span class="fw-semi-bold">{{item.${field.apiKey}}}</span>
                                </td>
                            #end
                        #end

                    #end
                    <td>
                        <div class="input-group-btn action-button-group">
                            #foreach ($actionButton in $entity.listViewActionButtonList)
                                #if($StringUtils.equalsIgnoreCase(${actionButton.type} ,"copy"))
                                    <button type="button" class="btn btn-success"
                                            (click)="copyComponent(item.$entity.fetchApiKey)"
                                            title="{{'copy-button-tooltip' | translate}}">
                                        <i class="fa fa-clone"></i></button>
                                #end
                                #if($StringUtils.equalsIgnoreCase(${actionButton.type} ,"edit"))
                                    <button type="button" class="btn btn-success"
                                            (click)="editComponent(item.$entity.fetchApiKey)"
                                            title="{{'edit-button-tooltip' | translate}}">
                                        <i class="fa fa-pencil"></i></button>
                                #end
                            #end
                        </div>
                    </td>
                </tr>
                <tr *ngIf="mf.data.length === 0">
                    <td colspan="100">
                        {{'form-no-records-msg' | translate}}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="12">
                        <pagination class="pagination-sm"
                                    [(ngModel)]="pageNumber"
                                    [totalItems]="totalItems"
                                    [itemsPerPage]="tableItemsPerPage"
                                    [maxSize]="tableMaxSize"
                                    [boundaryLinks]="true"
                                    [rotate]="false"
                                    (pageChanged)="onChangeTablePagination(config, $event)"
                                    (numPages)="numPages = $event">
                        </pagination>
                        <ul class="pagination pull-right">
                            <li *ngFor="let block of paginationBlocks; let i = index" [id]="'pagination-list-item-' + i"
                                (click)="paginationBlockClick(i)">
                                <a style="cursor: pointer">{{block}}</a>
                            </li>
                        </ul>
                        <pre class="card card-block card-header">Page: {{pageNumber}} / {{numPages}}</pre>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>