<section class="widget" widget>
    <header>
        <h4><span class="fw-semi-bold">{{'${entity.lowerTrainCaseClassName}-list-page-header' | translate}}</span></h4>
        <div class="widget-controls">
            <button type="button" class="btn btn-gray mb-xs list-view-search-filter"
                    (click)="toggleShowSearchBlocks()"
                    title="{{'filter-button-tooltip' | translate}}">
                <i class="fa fa-search"></i></button>
            <button *ngIf="permissionForCreate" class="btn btn-primary width-100 mb-xs" role="button" [routerLink]="['../create']">
                {{'list-btn-add' | translate}}
            </button>
        </div>
    </header>
    <div class="widget-body">
        <legend></legend>
        <div class="mt">
            <table class="table table-striped table-hover" [ngBusy]="busy" [mfData]="masterData" #mf="mfDataTable"
                   [mfRowsOnPage]="tableItemsPerPage">
                <thead>
                <tr>
                    #set($counter = 0)
                    #foreach ($field in $entity.fieldList)
                        <th *ngIf="showSearchBlocks">
                        #if(${field.Searchable} && $field.isListElement)
                            <div class="list-view-search-div">
                                <div>
                                    <div class="input-group input-group-sm input-group-transparent input-group-rounded">
                                            <span *ngIf="!searchModels[$counter].isSelected" class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        <span (click)="cancelSearchAttribute($counter)" *ngIf="searchModels[$counter].isSelected"
                                              class="input-group-addon">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        <input (keypress)="changeSearchModel($event.keyCode,$counter)"
                                               [(ngModel)]="searchModels[$counter].value"
                                               (ngModelChange)="onSearchFieldChange($counter)"
                                               maxlength="16"
                                               class="form-control form-control-sm"
                                               type="text" placeholder="${field.placeholder}">
                                    </div>
                                </div>
                            </div>
                        #end
                        </th>
                        #set($counter = $counter+1)
                    #end

                    <th *ngIf="showSearchBlocks">
                        <button [ngClass]="{'disabled': isSearchClear}" type="button"
                                class="btn btn-gray mb-xs list-view-search-filter"
                                (click)="clearAllSearch()"
                                title="{{'block-button-tooltip' | translate}}">
                            {{'list-btn-clear-search' | translate}}
                        </button>
                    </th>
                </tr>
                <tr>
                    #set($counter = 0)
                #foreach ($field in $entity.fieldList)
                	<th>
                    #if(${field.Sortable} && ${field.isListElement})
                        <mfDefaultSorter (click)="sortFormData($counter)" by="${field.apiKey}1">{{'${entity.lowerTrainCaseClassName}-list-header-${field.lowerTrainCaseName}' | translate}}</mfDefaultSorter>
                    </th>
                    #else
                    	#if(${field.isListElement})
                        <th>
                            {{'${entity.lowerTrainCaseClassName}-list-header-${field.lowerTrainCaseName}' | translate}}
                        </th>
                        #end
                    #end
                    #set($counter = $counter+1)
                    #end
                    <th class="no-sort">
                        {{'${entity.lowerTrainCaseClassName}-list-header-actions' | translate}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row" *ngFor="let item of mf.data" (click)="viewFormData(item.$entity.fetchApiKey)">
                #foreach ($field in $entity.fieldList)
                    #if ($field.webType.equals('Date'))
                        <td class="wrap-long-text" title="{{item.${field.apiKey}  | date: 'dd-MM-yyyy'}}"><span class="fw-semi-bold">{{item.${field.apiKey}  | date: 'dd-MM-yyyy'}}</span></td>
                    #else
                        <td class="wrap-long-text" title="{{item.${field.apiKey}}}"><span class="fw-semi-bold">{{item.${field.apiKey}}}</span></td>
                #end

                #end
                    <td>
                        <div class="input-group-btn action-button-group">
                            <button *ngIf="permissionForEdit" type="button" class="btn btn-gray disabled"
                                    title="{{'edit-button-tooltip' | translate}}">
                                <i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-gray disabled"
                                    title="{{'block-button-tooltip' | translate}}">
                                <i class="fa fa-ban"></i></button>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="mf.data.length === 0">
                    <td colspan="100">
                        {{'form-no-records-msg' | translate}}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="12">
                        <pagination class="pagination-sm"
                                    [(ngModel)]="pageNumber"
                                    [totalItems]="totalItems"
                                    [itemsPerPage]="tableItemsPerPage"
                                    [maxSize]="tableMaxSize"
                                    [boundaryLinks]="true"
                                    [rotate]="false"
                                    (pageChanged)="onChangeTablePagination(config, $event)"
                                    (numPages)="numPages = $event">
                        </pagination>
                        <ul class="pagination pull-right">
                            <li *ngFor="let block of paginationBlocks; let i = index" [id]="'pagination-list-item-' + i"
                                (click)="paginationBlockClick(i)">
                                <a style="cursor: pointer">{{block}}</a>
                            </li>
                        </ul>
                        <pre class="card card-block card-header">Page: {{pageNumber}} / {{numPages}}</pre>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>