import { CommonModule } from '@angular/common';
import { FormsModule } from '@angular/forms';
import { NgModule } from '@angular/core';
import { RouterModule } from '@angular/router';
import { PaginationModule  } from 'ng2-bootstrap';
import { DataTableModule } from 'angular2-datatable';
import { Select2Module } from 'ng2-select2';
import {TranslateModule} from "../translate/translate.module";
import {ResourceFactoryConstants} from "../services/resource-factory.constants";
import {BusyModule} from 'angular2-busy';
import {CommonUtilityService} from "../services/common-utility.service";
import {CommonHttpService} from "../services/common-http.service";
import {BaseService} from "../base-module/base.service";
import {FormWizardModule} from "../components/wizards/form-wizards/form-wizards.module";
import {DocumentsWizardService} from "../components/wizards/form-wizards/documents/documents-wizard.service";
import 'parsleyjs';

import {${entity.upperCamelCaseClassName}CreateComponent} from "./create/${entity.lowerTrainCaseClassName}-create.component";
import {${entity.upperCamelCaseClassName}ListComponent} from "./list/${entity.lowerTrainCaseClassName}-list.component";
import {${entity.upperCamelCaseClassName}ViewComponent} from "./view/${entity.lowerTrainCaseClassName}-view.component";
import {${entity.upperCamelCaseClassName}EditComponent} from "./edit/${entity.lowerTrainCaseClassName}-edit.component";
import {${entity.upperCamelCaseClassName}CopyComponent} from "./copy/${entity.lowerTrainCaseClassName}-copy.component";

export const routes = [
{path: '', redirectTo: 'list/approvedlist', pathMatch: 'full'},
{path: 'create', component: ${entity.upperCamelCaseClassName}CreateComponent},
{path: 'list/:listType', component: ${entity.upperCamelCaseClassName}ListComponent},
{path: 'view/:type/:id', component: ${entity.upperCamelCaseClassName}ViewComponent},
{path: 'view/:type', component: ${entity.upperCamelCaseClassName}ViewComponent},
{path: 'edit/:type/:id', component: ${entity.upperCamelCaseClassName}EditComponent},
{path: 'edit/:type', component: ${entity.upperCamelCaseClassName}EditComponent},
{path: 'copy/:id', component: ${entity.upperCamelCaseClassName}CopyComponent}
];

@NgModule({
declarations: [
${entity.upperCamelCaseClassName}CreateComponent,
${entity.upperCamelCaseClassName}ListComponent,
${entity.upperCamelCaseClassName}ViewComponent,
${entity.upperCamelCaseClassName}EditComponent,
${entity.upperCamelCaseClassName}CopyComponent
],
imports: [
CommonModule,
FormsModule,
BusyModule,
Select2Module,
RouterModule.forChild(routes),
PaginationModule.forRoot(),
DataTableModule,
TranslateModule,
FormWizardModule
],
providers: [CommonHttpService, CommonUtilityService, ResourceFactoryConstants, BaseService, DocumentsWizardService]
})
export class ${entity.upperCamelCaseClassName}Module {
static routes = routes;
}
