<form id="form-basic" novalidate="novalidate" [ngBusy]="busy">
    <div class="clearfix">
        <div class="pull-right">
            <button type="button" (click)="cancelForm()" class="button button-basic">
                {{'form-btn-back' |
                translate}}
            </button>
            <button *ngIf="permissionForDelete" type="button" (click)=showDeleteConfirm() class="button button-danger">
                {{'form-btn-delete' |
                translate}}
            </button>
            <button *ngIf="permissionForEdit" type="submit" (click)="editRecord()" class="button button-primary">
                {{'form-btn-edit' |
                translate}}
            </button>
        </div>
        <h1 class="page-title">{{'${entity.lowerTrainCaseClassName}-view-page-header' | translate}}</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="widget" [ngBusy]="busy">
                <div class="widget-body">
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <legend><span class="section-label">{{'form-basic' |
                                translate}}</span>
                            </legend>
                            <div class="row">
                                #foreach ($field in $entity.fieldList)
                                    <div class="form-group col-md-3 field-type">
                                        <label class="label-name">{{'${entity.lowerTrainCaseClassName}-create-field-${field.lowerTrainCaseName}'
                                            | translate}}
                                            #if ($field.isMandatory)
                                                *
                                            #end
                                        </label>
                                        <div>
                                            #if ($field.webType.equals('Date'))
                                                <label title="{{entity.${field.lowerCamelCaseName}.value | date:'dd-MM-yyyy'}}"
                                                       class="read-only-view-label break-long-text">{{entity.${field.lowerCamelCaseName}.value
                                                    | date:'dd-MM-yyyy'}}</label>

                                            #else
                                                <label title="{{entity.${field.lowerCamelCaseName}.value}}"
                                                       class="read-only-view-label break-long-text">{{entity.${field.lowerCamelCaseName}.value}}</label>
                                            #end
                                        </div>
                                    </div>
                                #end
                            </div>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
</form>