<div class="clearfix">
    <div class="pull-right">
        <button type="button" (click)="cancelForm()" class="btn btn-default btn-rounded">{{'form-btn-back' |
            translate}}
        </button>
        <button *ngIf="permissionForDelete" type="submit" (click)="deleteRecord()" class="btn btn-danger btn-rounded ">
            {{'form-btn-delete' |
            translate}}
        </button>
        <button *ngIf="permissionForEdit" type="submit" (click)="editRecord()" class="btn btn-primary btn-rounded">
            {{'form-btn-edit' |
            translate}}
        </button>
    </div>

    <h1 class="page-title"><span
            class="fw-semi-bold">{{'${entity.lowerTrainCaseClassName}-view-page-header' | translate}}</span></h1>

</div>


<form id="${entity.lowerTrainCaseClassName}-view-form" class="parsleyjs" method="post"
      data-parsley-priority-enabled="false"
      novalidate="novalidate" [ngBusy]="busy">
    <div class="row">
        <div class="col-lg-12">
            <section class="widget" widget [ngBusy]="busy">
                <div class="widget-body">
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <legend><strong>{{'${entity.lowerTrainCaseClassName}-create-form-basic' |
                                translate}}</strong>
                                {{'${entity.lowerTrainCaseClassName}-create-form-details' | translate}}
                            </legend>
                            <div class="row">
                                #foreach ($field in $entity.fieldList)
                                    <div class="form-group col-md-3">
                                        <label class="col-form-label">{{entity.${field.lowerCamelCaseName}.displayName}}
                                            #if ($field.isMandatory)
                                                *
                                            #end
                                        </label>
                                        <div>
                                            #if ($field.webType.equals('Date'))
                                                <label title="{{entity.${field.lowerCamelCaseName}.value | date:'dd-MM-yyyy'}}"
                                                       class="read-only-view-label col-form-label wrap-long-text">{{entity.${field.lowerCamelCaseName}.value
                                                    | date:'dd-MM-yyyy'}}</label>

                                            #else
                                                <label title="{{entity.${field.lowerCamelCaseName}.value}}"
                                                       class="read-only-view-label col-form-label wrap-long-text">{{entity.${field.lowerCamelCaseName}.value}}</label>
                                            #end
                                        </div>
                                    </div>
                                #end
                            </div>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
</form>