{
	"createOrUpdate${entity.upperCamelCaseClassName}": {
		"id": {
	        "class": "SMPL",
	        "type": "String"
	    },
#foreach ($field in $entity.fieldList)
#if( ${field.lowerCamelCaseName} != "createdOn" && ${field.lowerCamelCaseName} != "createdBy" && ${field.lowerCamelCaseName} != "updatedOn" && ${field.lowerCamelCaseName} != "updatedBy")
		"${field.lowerSnakeCaseName}": {
			"class": "SMPL",
			"type": "String"
		},
#end
#end			
	}
}