package in.novopay.${entity.service}.${entity.userStory}.repository;


import in.novopay.${entity.service}.${entity.userStory}.entity.${entity.upperCamelCaseClassName}Entity;
import org.springframework.data.jpa.repository.JpaRepository;

import java.util.List;

/***
 * 
 * @author ${entity.author}
 *
 */

public interface ${entity.upperCamelCaseClassName}Repository extends JpaRepository<${entity.upperCamelCaseClassName}Entity, Integer> {

	List<${entity.upperCamelCaseClassName}Entity> findAll();
	${entity.upperCamelCaseClassName}Entity findOneById(Integer id);
	
}
