package in.novopay.${usd.service}.${usd.flatCaseName}.processor;

import in.novopay.${usd.service}.${usd.flatCaseName}.entity.${entity.upperCamelCaseEntityName}Entity;
import in.novopay.${usd.service}.${usd.flatCaseName}.daoservice.${usd.upperCamelCaseName}DAOService;
import in.novopay.infra.platform.annotations.Processor;
import in.novopay.infra.platform.exception.NovopayFatalException;
import in.novopay.infra.platform.exception.NovopayNonFatalException;
import in.novopay.infra.platform.navigation.AbstractProcessor;
import in.novopay.infra.platform.navigation.ExecutionContext;
import org.springframework.beans.factory.annotation.Autowired;
import org.apache.commons.lang3.StringUtils;

import java.util.Date;


/***
 * 
 * @author ${usd.author}
 *
 */

@Processor
public class Create${entity.upperCamelCaseEntityName}Processor extends AbstractProcessor {

	
	@Autowired
	private ${usd.upperCamelCaseName}DAOService ${usd.lowerCamelCaseName}Service;

	@Override
	protected void process(ExecutionContext executionContext) throws NovopayFatalException, NovopayNonFatalException {
	
		${entity.upperCamelCaseEntityName}Entity ${entity.lowerCamelCaseEntityName}Entity = new ${entity.upperCamelCaseEntityName}Entity();
#foreach ($field in $entity.dataFieldList)
#if(!${field.isPrimaryKey()})
		String ${field.lowerCamelCaseName} = executionContext.getValue("${usd.getFieldMaptoOrName(${field})}", String.class);
#if(${field.javaType} == "Integer")
		if(StringUtils.isNoneBlank(${field.lowerCamelCaseName})) {
			${entity.lowerCamelCaseEntityName}Entity.set${field.upperCamelCaseName}(Integer.parseInt(${field.lowerCamelCaseName}));
		}	
#elseif( ${field.javaType} == "Long")
		if(StringUtils.isNoneBlank(${field.lowerCamelCaseName})) {
			${entity.lowerCamelCaseEntityName}Entity.set${field.upperCamelCaseName}(Long.parseLong(${field.lowerCamelCaseName}));
		}	
#elseif( ${field.javaType} == "Float")
		if(StringUtils.isNoneBlank(${field.lowerCamelCaseName})) {
			${entity.lowerCamelCaseEntityName}Entity.set${field.upperCamelCaseName}(Float.parseFloat(${field.lowerCamelCaseName}));
		}	
#elseif( ${field.javaType} == "Double")
		if(StringUtils.isNoneBlank(${field.lowerCamelCaseName})) {
			${entity.lowerCamelCaseEntityName}Entity.set${field.upperCamelCaseName}(Double.parseDouble(${field.lowerCamelCaseName}));
		}	
#elseif( ${field.javaType} == "Date")
		if(StringUtils.isNoneBlank(${field.lowerCamelCaseName})) {
			${entity.lowerCamelCaseEntityName}Entity.set${field.upperCamelCaseName}(new Date(Long.parseLong(${field.lowerCamelCaseName})));
		}
#elseif( ${field.javaType} == "Boolean")
		if(StringUtils.isNoneBlank(${field.lowerCamelCaseName})) {
			Boolean b${field.upperCamelCaseName} = Boolean.valueOf(${field.lowerCamelCaseName});
			${entity.lowerCamelCaseEntityName}Entity.set${field.upperCamelCaseName}(b${field.upperCamelCaseName});
		}
#else		
		${entity.lowerCamelCaseEntityName}Entity.set${field.upperCamelCaseName}(${field.lowerCamelCaseName});
#end
#end
#end
#foreach ($field in $entity.auditFieldList)
#if( ${field.javaType} == "Date")
		${entity.lowerCamelCaseEntityName}Entity.set${field.upperCamelCaseName}(new Date());
#else
		${entity.lowerCamelCaseEntityName}Entity.set${field.upperCamelCaseName}("");
#end
#end
		${entity.lowerCamelCaseEntityName}Entity = ${usd.lowerCamelCaseName}Service.save${entity.upperCamelCaseEntityName}(${entity.lowerCamelCaseEntityName}Entity);
		executionContext.put("${entity.lowerSnakeCaseEntityName}_id",${entity.lowerCamelCaseEntityName}Entity.getId().toString());				
	}
}
