{
	"createOrUpdate${entity.upperCamelCaseClassName}": {
		"id": {
	        "class": "SMPL",
	        "type": "String"
	    },
#foreach ($field in $entity.dataFieldList)
		"${field.lowerSnakeCaseName}": {
			"class": "SMPL",
			"type": "String"
		},
#end			
	}
}