{
	"get${usd.upperCamelCaseName}List": {
		"search_criteria": {
			"class": "CMPLX",
			"type": "MAP",
			"search_criteria": {
#foreach ($usdentity in $usd.entityList)			
#foreach ($field in $usdentity.dataFieldList)
#if($field.isSearchable())
				"${field.lowerSnakeCaseName}": {
					"class": "SMPL",
					"type": "String"#if($StringUtils.isNotBlank($field.mapTo)),#end
#if($StringUtils.isNotBlank($field.mapTo))				
					"mapTo":"${field.mapTo}"
#end					
				}#if(${usdentity.dataFieldList.size()} > $velocityCount),#end
#end
#end
#end			
			}
		},
		"sort_criteria": {
			"class": "CMPLX",
			"type": "MAP",
			"sort_criteria": {
				"order": {
					"class": "SMPL",
					"type": "String"
				},
				"fields": {
					"class": "SMPL",
					"type": "ARR",
					"fields": {
						"field_name": {
							"class": "SMPL",
							"type": "String"
						}
					}
				}
			}
		},
		"page_size": {
			"class": "SMPL",
			"type": "String"
		},
		"offset": {
			"class": "SMPL",
			"type": "String"
		}
	}
}