{
	"get${entity.upperCamelCaseClassName}List": {
		"page_size": {
			"class": "SMPL",
			"type": "String"
		},
		"offset": {
			"class": "SMPL",
			"type": "String"
		},
		"number_of_records": {
			"class": "SMPL",
			"type": "String"
		},
		"${entity.lowerSnakeCaseClassName}_list": {
			"class": "SMPL",
			"type": "ARR",
			"${entity.lowerSnakeCaseClassName}_details": {
				"class": "CMPLX",
				"type": "MAP",			
				"${entity.lowerSnakeCaseClassName}_details": {
					"id": {
						"class": "SMPL",
						"type": "String"
					},
#foreach ($field in $entity.fieldList)
#if( ${field.lowerCamelCaseName} != "createdOn" && ${field.lowerCamelCaseName} != "createdBy" && ${field.lowerCamelCaseName} != "updatedOn" && ${field.lowerCamelCaseName} != "updatedBy")
#if( $field.isListElement)
					"${field.lowerSnakeCaseName}": {
						"class": "SMPL",
						"type": "String"
					},
#end
#end
#end			
				}
			}
		},
		"response_status": {
			"class": "CMPLX",
			"type": "MAP",
			"response_status": {
				"status": {
					"class": "SMPL",
					"type": "String"
				},
				"code": {
					"class": "SMPL",
					"type": "String"
				},
				"message": {
					"class": "SMPL",
					"type": "String"
				}
			}
		}
	}
}