package in.novopay.${usd.service}.${usd.flatCaseName}.processor;

import in.novopay.${usd.service}.${usd.flatCaseName}.daoservice.${usd.upperCamelCaseName}DAOService;
import in.novopay.infra.platform.annotations.Processor;
import in.novopay.infra.platform.exception.NovopayFatalException;
import in.novopay.infra.platform.exception.NovopayNonFatalException;
import in.novopay.infra.platform.navigation.AbstractProcessor;
import in.novopay.infra.platform.navigation.ExecutionContext;
import org.springframework.beans.factory.annotation.Autowired;


/***
 * 
 * @author ${usd.author}
 *
 */

@Processor
public class Get${usd.upperCamelCaseName}ListProcessor extends AbstractProcessor {

	
	@Autowired
	private ${usd.upperCamelCaseName}DAOService ${usd.lowerCamelCaseName}Service;


	@Override
	protected void process(ExecutionContext executionContext) throws NovopayFatalException, NovopayNonFatalException {
	
		Long count = ${usd.lowerCamelCaseName}Service.get${usd.upperCamelCaseName}Count(executionContext);
		if (count==null || count <=0L) {
			throw new NovopayNonFatalException("TODO", "No records found");
		}
		executionContext.put("number_of_records", count);
		executionContext.put("${usd.name}_list", ${usd.lowerCamelCaseName}Service.get${usd.upperCamelCaseName}PaginatedList(executionContext));
	}	
}
