	<!-- 
		@author	:${entity.author}
	 -->
	<Request name="createOrUpdate${entity.upperCamelCaseClassName}">
#set($mandatoryValidatorReq = false)
#set($patternValidatorReq = false)
#set($lengthValidatorReq = false)
#foreach ($field in $entity.dataFieldList)
#if( $field.maxLength && $field.minLength && $field.maxLength > 0 &&  $field.minLength >= 0 )
#set($lengthValidatorReq = true)
#elseif( $StringUtils.isNotBlank(${field.pattern}))
#set($patternValidatorReq = true)
#elseif(${field.isMandatory})
#set($mandatoryValidatorReq = true)
#end
#end
		<Validators>
#if($mandatoryValidatorReq)
			<Validator bean="mandatoryFieldValidator">		
#foreach ($field in $entity.dataFieldList)
#if( ${field.isMandatory})
				<IParam fieldName="${field.lowerSnakeCaseName}" errorCode="" defaultMessage="${field.lowerSnakeCaseName} is mandatory."/>
#end
#end
			</Validator>
#end
#if($patternValidatorReq)
			<Validator bean="patternFieldValidator">
#foreach ($field in $entity.dataFieldList)
#if( $StringUtils.isNotBlank(${field.pattern}))
				<IParam fieldName="${field.lowerSnakeCaseName}" errorCode="" pattern="${field.pattern}" defaultMessage="Invalid ${field.lowerSnakeCaseName}."/>
#end
#end
			</Validator>
#end
#if($lengthValidatorReq)
			<Validator bean="stringLengthValidator">
#foreach ($field in $entity.dataFieldList)
#if( $field.maxLength && $field.minLength && $field.maxLength > 0 &&  $field.minLength >= 0 )
				<IParam fieldName="${field.lowerSnakeCaseName}" errorCode="" minLength="${field.minLength}" maxLength="${field.maxLength}"/>
#end
#end
			</Validator>
#end
			<Control  method="regExp" pattern="${function_sub_code}"  condition="=" value="UPDATE">
				<Validator bean="mandatoryFieldValidator">
					<IParam fieldName="id" errorCode="" defaultMessage="id is mandatory."/>
				</Validator>
				<Validator bean="longValueValidator">
					<IParam fieldName="id" minVal="1" maxVal="2147483647" errorCode="210007" defaultMessage="Invalid value of id."/>
				</Validator>
			</Control>
		</Validators>		
		<Processors>
			<Control method="regExp" pattern="${function_sub_code}" condition="=" value="CREATE">
				<Processor bean="create${entity.upperCamelCaseClassName}Processor" />
			</Control>
			<Control method="regExp" pattern="${function_sub_code}" condition="=" value="UPDATE">
				<Processor bean="update${entity.upperCamelCaseClassName}Processor" />
			</Control>
		</Processors>
	</Request>
	
	<!-- 
		@author	:${entity.author}
	 -->
	<Request name="get${entity.upperCamelCaseClassName}Details">
		<Validators>
			<Validator bean = "mandatoryFieldValidator">
				<IParam fieldName="id" errorCode="" defaultMessage="id is mandatory."/>
			</Validator>
			<Validator bean="longValueValidator">
				<IParam fieldName="id" minVal="1" maxVal="2147483647" errorCode="" defaultMessage="Invalid value of id."/>
			</Validator>
		</Validators>
		<Processors>
			<Processor bean="get${entity.upperCamelCaseClassName}DetailsProcessor" />
		</Processors>
	</Request>
	
	<!-- 
		@author	:${entity.author}
	 -->
	<Request name="get${entity.upperCamelCaseClassName}List">
		<Processors>
			<Processor bean="get${entity.upperCamelCaseClassName}ListProcessor" />
		</Processors>
	</Request>
	
	
	<!-- 
		@author	:${entity.author}
	 -->
	<Request name="delete${entity.upperCamelCaseClassName}">
		<Validators>
			<Validator bean = "mandatoryFieldValidator">
				<IParam fieldName="id" errorCode="" defaultMessage="id is mandatory."/>
			</Validator>
			<Validator bean="longValueValidator">
				<IParam fieldName="id" minVal="1" maxVal="2147483647" errorCode="" defaultMessage="Invalid value of id."/>
			</Validator>
		</Validators>
		<Processors>
#if( $StringUtils.equalsIgnoreCase($entity.deleteMode, "LOGICAL"))
			<Processor bean="logicalDelete${entity.upperCamelCaseClassName}Processor" />
#elseif( $StringUtils.equalsIgnoreCase($entity.deleteMode, "PHYSICAL"))					
			<Processor bean="physicalDelete${entity.upperCamelCaseClassName}Processor" />
#end
		</Processors>
	</Request>