	<!-- 
		@author	:${usd.author}
	 -->
	<Request name="createOrUpdate${usd.upperCamelCaseName}">
#set($mandatoryValidatorReq = false)
#set($patternValidatorReq = false)
#set($lengthValidatorReq = false)
#foreach ($usdentity in $usd.entityList)
#foreach ($field in ${usdentity.dataFieldList})
#if( $field.maxLength && $field.minLength && $field.maxLength > 0 &&  $field.minLength >= 0 )
#set($lengthValidatorReq = true)
#end
#if( $StringUtils.isNotBlank($field.pattern))
#set($patternValidatorReq = true)
#end
#if($field.isMandatory())
#set($mandatoryValidatorReq = true)
#end
#end
#end
		<Validators>
#if($mandatoryValidatorReq)
			<Validator bean="mandatoryFieldValidator">		
#foreach ($usdentity in $usd.entityList)
#foreach ($field in $usdentity.dataFieldList)
#if(${field.isMandatory()} && ${field.name} != "id")
				<IParam fieldName="${field.lowerSnakeCaseName}" errorCode="" defaultMessage="${field.lowerSnakeCaseName} is mandatory."/>
#end
#end
#end
			</Validator>
#end
#if($patternValidatorReq)
			<Validator bean="patternFieldValidator">
#foreach ($usdentity in $usd.entityList)
#foreach ($field in $usdentity.dataFieldList)
#if( $StringUtils.isNotBlank(${field.pattern}))
				<IParam fieldName="${field.lowerSnakeCaseName}" errorCode="" pattern="${field.pattern}" defaultMessage="Invalid ${field.lowerSnakeCaseName}."/>
#end
#end
#end
			</Validator>
#end
#if($lengthValidatorReq)
			<Validator bean="stringLengthValidator">
#foreach ($usdentity in $usd.entityList)
#foreach ($field in $usdentity.dataFieldList)
#if( $field.maxLength && $field.minLength && $field.maxLength > 0 &&  $field.minLength >= 0 )
				<IParam fieldName="${field.lowerSnakeCaseName}" errorCode="" minLength="${field.minLength}" maxLength="${field.maxLength}"/>
#end
#end
#end
			</Validator>
#end
			<Control  method="regExp" pattern="${function_sub_code}"  condition="=" value="UPDATE">
				<Validator bean="mandatoryFieldValidator">
					<IParam fieldName="id" errorCode="" defaultMessage="id is mandatory."/>
				</Validator>
				<Validator bean="longValueValidator">
					<IParam fieldName="id" minVal="1" maxVal="2147483647" errorCode="" defaultMessage="Invalid value of id."/>
				</Validator>
			</Control>
		</Validators>		
		<Processors>
			<Control method="regExp" pattern="${function_sub_code}" condition="=" value="CREATE">
#foreach ($usdentity in $usd.entityList)
				<Processor bean="create${usdentity.upperCamelCaseEntityName}Processor" />
#end				
			</Control>
			<Control method="regExp" pattern="${function_sub_code}" condition="=" value="UPDATE">
#foreach ($usdentity in $usd.entityList)			
				<Processor bean="update${usdentity.upperCamelCaseEntityName}Processor" />
#end				
			</Control>
		</Processors>
	</Request>
	
	<!-- 
		@author	:${usd.author}
	 -->
	<Request name="get${usd.upperCamelCaseName}Details">
		<Validators>
			<Validator bean = "mandatoryFieldValidator">
				<IParam fieldName="id" errorCode="" defaultMessage="id is mandatory."/>
			</Validator>
			<Validator bean="longValueValidator">
				<IParam fieldName="id" minVal="1" maxVal="2147483647" errorCode="" defaultMessage="Invalid value of id."/>
			</Validator>
		</Validators>
		<Processors>
			<Processor bean="get${usd.upperCamelCaseName}DetailsProcessor" />
		</Processors>
	</Request>
	
	<!-- 
		@author	:${usd.author}
	 -->
	<Request name="get${usd.upperCamelCaseName}List">
		<Processors>
			<Processor bean="get${usd.upperCamelCaseName}ListProcessor" />
		</Processors>
	</Request>
	
	
	<!-- 
		@author	:${usd.author}
	 -->
	<Request name="delete${usd.upperCamelCaseName}">
		<Validators>
			<Validator bean = "mandatoryFieldValidator">
				<IParam fieldName="id" errorCode="" defaultMessage="id is mandatory."/>
			</Validator>
			<Validator bean="longValueValidator">
				<IParam fieldName="id" minVal="1" maxVal="2147483647" errorCode="" defaultMessage="Invalid value of id."/>
			</Validator>
		</Validators>
		<Processors>
#if( $StringUtils.equalsIgnoreCase($usd.deleteMode, "LOGICAL"))
			<Processor bean="logicalDelete${usd.upperCamelCaseName}Processor" />
#elseif( $StringUtils.equalsIgnoreCase($usd.deleteMode, "PHYSICAL"))					
			<Processor bean="physicalDelete${usd.upperCamelCaseName}Processor" />
#end
		</Processors>
	</Request>