package in.novopay.${usd.service}.${usd.flatCaseName}.daoservice;


import in.novopay.${usd.service}.${usd.flatCaseName}.entity.${entity.upperCamelCaseEntityName}Entity;
import org.springframework.data.jpa.repository.JpaRepository;
#if($StringUtils.equalsIgnoreCase($usd.getPrimaryEntityFromMap().entity, ${entity.entity} ))
import org.springframework.data.jpa.repository.Modifying;
import org.springframework.data.jpa.repository.Query;
#end
import java.util.List;

/***
 * 
 * @author ${usd.author}
 *
 */

interface ${entity.upperCamelCaseEntityName}Repository extends JpaRepository<${entity.upperCamelCaseEntityName}Entity, Integer> {

	List<${entity.upperCamelCaseEntityName}Entity> findAll();
	${entity.upperCamelCaseEntityName}Entity findOneById(Integer id);
	void delete(${entity.upperCamelCaseEntityName}Entity entity);

#if($StringUtils.equalsIgnoreCase($usd.getPrimaryEntityFromMap().entity, ${entity.entity} ))	
	@Modifying
	@Query(nativeQuery = true, value = "${usd.getUpdateQueryForLogicalDelete()}")
	void logicalDelete${usd.upperCamelCaseName}(Integer id);
#end		
	
}
