CREATE TABLE `${entity.entity}` (
#foreach ($field in $entity.dataFieldList)
#if($StringUtils.equalsIgnoreCase(${field.sqlType}, "VARCHAR"))
  `${field.name}` VARCHAR($field.getMaxLength())$field.getNotNullConstraint()$field.getComment(),
#elseif($StringUtils.equalsIgnoreCase(${field.sqlType}, "INT"))
  `${field.name}` INT(11)$field.getNotNullConstraint()$field.getSQLPrimaryKeyString()$field.getComment(),
#elseif($StringUtils.equalsIgnoreCase(${field.sqlType}, "DATETIME"))
  `${field.name}` DATETIME$field.getNotNullConstraint()$field.getComment(),
#elseif($StringUtils.equalsIgnoreCase(${field.sqlType}, "BIGINT" ))
  `${field.name}` BIGINT(20)$field.getNotNullConstraint()$field.getSQLPrimaryKeyString()$field.getComment(),
#elseif($StringUtils.equalsIgnoreCase(${field.sqlType}, "DECIMAL" ))
  `${field.name}` DECIMAL(20,6)$field.getNotNullConstraint()$field.getComment(),
#end
#end
#foreach ($field in $entity.auditFieldList)
#if($StringUtils.equalsIgnoreCase(${field.sqlType}, "VARCHAR"))
  `${field.name}` VARCHAR($field.getMaxLength())$field.getNotNullConstraint()$field.getComment(),
#elseif($StringUtils.equalsIgnoreCase(${field.sqlType}, "DATETIME"))
  `${field.name}` DATETIME$field.getNotNullConstraint()$field.getComment(),
#end
#end
#if( $StringUtils.equalsIgnoreCase(${usd.deleteMode}, "LOGICAL"))
  `is_deleted` TINYINT(1) COMMENT 'flag for deleted records',
#end
  PRIMARY KEY (`id`)
)$entity.getTableComment();