CREATE TABLE `${entity.table}` (
  `id` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'Auto generated unique identifier. Will be the primary key of the table.',
#foreach ($field in $entity.fieldList)
#if($StringUtils.equalsIgnoreCase(${field.sqlType}, "VARCHAR"))
  `${field.name}` VARCHAR($field.getOrDefaultStringLength())$field.addNotNull()$field.addComment(),
#elseif($StringUtils.equalsIgnoreCase(${field.sqlType}, "INT"))
  `${field.name}` INT($field.getOrDefaultIntegerLength())$field.addNotNull()$field.addComment(),
#elseif($StringUtils.equalsIgnoreCase(${field.sqlType}, "DATETIME"))
  `${field.name}` DATETIME$field.addNotNull()$field.addComment(),
#else
#end
#end
  PRIMARY KEY (`id`)
)$entity.addTableComment();