<h1 class="page-title"><span class="fw-semi-bold">{{'heirarchy-level-create-header-creation' | translate}}</span></h1>

<form id="heirarchy-level-create-form" class="parsleyjs" method="post" data-parsley-priority-enabled="false"
      novalidate="novalidate" [ngBusy]="busy">
    <div class="row">
        <div class="col-lg-6">
            <section class="widget" widget [ngBusy]="busy">
                <div class="widget-body">
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <legend><strong>{{'heirarchy-level-create-form-header-basic' | translate}}</strong>
                                {{'heirarchy-level-create-form-header-details' | translate}}
                            </legend>

                                                                                        <!-- Textbox -->
                            <div class="form-group row">
                                <label for="heirarchy-level-level-name"
                                       class="col-md-4  col-form-label text-md-right">{{'heirarchy-level-create-field-level-name'
                                    | translate}}
                                                                            *
                                                                    </label>

                                <div class="col-md-8 ">
                                    <input *ngIf="!readOnly" type="text" name="heirarchy-level-level-name"
                                                                                    data-parsley-pattern="^[a-zA-Z0-9][a-zA-Z0-9 ()_/.-]*$"
                                                                                    [(ngModel)]="entity.levelName.value"
                                                                                    minLength="2"
                                                                                                                            maxlength="16"
                                                                                    id="heirarchy-level-level-name"
                                            class="form-control"
                                                                                    placeholder="eg. Country"
                                                                                    data-parsley-trigger="change"
                                                                                    required="true"
                                                                                    >

                                    <label *ngIf="readOnly" for="heirarchy-level-level-name"
                                           title="{{entity.levelName.value}}"
                                           class="read-only-view-label col-form-label wrap-long-text">{{entity.levelName.value}}</label>
                                </div>
                            </div>

                                                                                                                            <!-- Textbox -->
                            <div class="form-group row">
                                <label for="heirarchy-level-level-code"
                                       class="col-md-4  col-form-label text-md-right">{{'heirarchy-level-create-field-level-code'
                                    | translate}}
                                                                            *
                                                                    </label>

                                <div class="col-md-8 ">
                                    <input *ngIf="!readOnly" type="text" name="heirarchy-level-level-code"
                                                                                    [(ngModel)]="entity.levelCode.value"
                                                                                    minLength="2"
                                                                                                                            maxlength="8"
                                                                                    id="heirarchy-level-level-code"
                                            class="form-control"
                                                                                    placeholder="eg. GIS10"
                                                                                    data-parsley-trigger="change"
                                                                                    required="true"
                                                                                    >

                                    <label *ngIf="readOnly" for="heirarchy-level-level-code"
                                           title="{{entity.levelCode.value}}"
                                           class="read-only-view-label col-form-label wrap-long-text">{{entity.levelCode.value}}</label>
                                </div>
                            </div>

                                                                                                                            <!-- TextArea -->
                            <div class="form-group row">
                                <label for="heirarchy-level-description"
                                       class="col-md-4  col-form-label text-md-right">{{'heirarchy-level-create-field-description'
                                    | translate}}
                                                                    </label>

                                <div class="col-md-8 ">
                                    <textarea *ngIf="!readOnly" type="text" name="heirarchy-level-description"
                                            rows="4"
                                                                                    [(ngModel)]="entity.description.value"
                                                                                    minLength="2"
                                                                                                                            maxlength="256"
                                                                                    id="heirarchy-level-description"
                                            class="form-control"
                                                                                    placeholder="eg. Country"
                                                                                    data-parsley-trigger="change"
                                                                                    >
                                    </textarea>

                                    <label *ngIf="readOnly" for="heirarchy-level-description"
                                           title="{{entity.description.value}}"
                                           class="read-only-view-label col-form-label wrap-long-text">{{entity.description.value}}</label>
                                </div>
                            </div>

                                                                                                                            <!-- Dropdown -->
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right" for="heirarchy-level-department-name">
                                    {{'heirarchy-level-create-field-department-name' | translate}}
                                                                            *
                                                                    </label>

                                <div class="col-md-8 " *ngIf="dropDownList.departmentName.dataList.length>0">
                                    <select2 *ngIf="!readOnly"
                                             id="heirarchy-level-department-name"
                                             name="heirarchy-level-department-name"
                                             (valueChanged)="dropDownValueChange($event,'departmentName','heirarchy-level-department-name')"
                                             [value]="dropDownList.departmentName.initialValues"
                                             [data]="dropDownList.departmentName.dataList"
                                             [options]="dropDownList.departmentName.options"
                                             ngDefaultControl
                                                                                     required="true"
                                                                                     >
                                    </select2>

                                    <ul *ngIf="!dropDownList.departmentName.isValid" class="parsley-errors-list filled">
                                        <li class="parsley-pattern">{{'form-error-required-msg' | translate}}</li>
                                    </ul>

                                    <label *ngIf="readOnly" for="heirarchy-level-department-name"
                                           title="{{dropDownList.departmentName.selectedValue}}"
                                           class="read-only-view-label col-form-label wrap-long-text">{{dropDownList.departmentName.selectedValue}}</label>
                                </div>
                            </div>

                                                                                                                            <!-- Dropdown -->
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right" for="heirarchy-level-heirarchy-level-type">
                                    {{'heirarchy-level-create-field-heirarchy-level-type' | translate}}
                                                                            *
                                                                    </label>

                                <div class="col-md-8 " *ngIf="dropDownList.heirarchyLevelType.dataList.length>0">
                                    <select2 *ngIf="!readOnly"
                                             id="heirarchy-level-heirarchy-level-type"
                                             name="heirarchy-level-heirarchy-level-type"
                                             (valueChanged)="dropDownValueChange($event,'heirarchyLevelType','heirarchy-level-heirarchy-level-type')"
                                             [value]="dropDownList.heirarchyLevelType.initialValues"
                                             [data]="dropDownList.heirarchyLevelType.dataList"
                                             [options]="dropDownList.heirarchyLevelType.options"
                                             ngDefaultControl
                                                                                     required="true"
                                                                                     >
                                    </select2>

                                    <ul *ngIf="!dropDownList.heirarchyLevelType.isValid" class="parsley-errors-list filled">
                                        <li class="parsley-pattern">{{'form-error-required-msg' | translate}}</li>
                                    </ul>

                                    <label *ngIf="readOnly" for="heirarchy-level-heirarchy-level-type"
                                           title="{{dropDownList.heirarchyLevelType.selectedValue}}"
                                           class="read-only-view-label col-form-label wrap-long-text">{{dropDownList.heirarchyLevelType.selectedValue}}</label>
                                </div>
                            </div>

                                                                                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <div *ngIf="!reviewMode" class="form-actions">
                            <button type="submit" (click)="saveFormData()" class="btn btn-primary btn-rounded">{{'form-btn-$(button.lowerTrainCaseName)' |
            translate}}
        </button>
                                        <button type="button" (click)="cancelForm()" class="btn btn-default btn-rounded">{{'form-btn-$(button.lowerTrainCaseName)' |
            translate}}
        </button>
                        </div>
</form>